{% extends 'UserAuth/index.html' %}
{% load staticfiles %}

{% block page-title %}
	<title>Accomodation | Abhisarga 2k19</title>
{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/accomodation.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/common.css' %}">
<script src="{% static 'assets/js/accomodation.js' %}"></script>
<script src="{% static 'assets/js/menu.js' %}"></script>
{% endblock %}
{% block content %}
<div id="bar">
  <img src="{% static 'assets/img/default-logo.png' %}" alt="Abhisarga 2K19" id="bar-logo">
  <div id="menu" onclick="menuopen()">
    <div></div>
    <div></div>
    <div></div>
  </div>
	{% if request.user.is_authenticated %}
	<div id="login">
		<a href="{% url 'UserAuth:logout' %}">Log Out</a>
	</div>
	<div id="register">
		<a href="javascript:function()">Profile</a>
	</div>
	{% else %}
	<div id="register">
		<a href="{% url 'UserAuth:user_registration' %}">REGISTER</a>
	</div>
	<div id="login">
		<a href="{% url 'UserAuth:user_login' %}">LOGIN</a>
	</div>
	{% endif %}
</div>
<div id="accomodation">
  <div id="accomodation-content">
    <h1>Accomodation</h1>
    <p>
      Accomodation will start soon....
    </p>
    <div id="getbutton">
      Get Accomodation
    </div>
    <ul>
      <li onclick="openmodal(0)"><img src="{% static 'assets/img/svg/bullet.svg' %}" alt="">Policy</li>
				<br>
      <li onclick="openmodal(1)"><img src="{% static 'assets/img/svg/bullet.svg' %}" alt="">Charges</li>
				<br>
      <li onclick="openmodal(2)"><img src="{% static 'assets/img/svg/bullet.svg' %}" alt="">FAQ</li>
				<br>
    </ul>
  </div>
  <div id="googlemaps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3878.653707084532!2d80.02393425035366!3d13.556822305387598!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4d773f1e0f8721%3A0xadb0842ffc2719e4!2sIndian+Institute+of+Information+Technology+Sri+City!5e0!3m2!1sen!2sin!4v1552065298958" width="100%" height="100%" frameborder="0" style="border: 0"></iframe>
  </div>
</div>
<div class="accomodation-modal">
  <div class="modal-content">
    <div class="modal-close" onclick="closemodal(0)">
    </div>
    <h1>Policy</h1>
    <div class="modal-content-box">
    </div>
  </div>
</div>
<div class="accomodation-modal">
  <div class="modal-content">
    <div class="modal-close" onclick="closemodal(1)">
    </div>
    <h1>Charges</h1>
    <div class="modal-content-box">
    </div>
  </div>
</div>
<div class="accomodation-modal">
  <div class="modal-content">
    <div class="modal-close" onclick="closemodal(2)">
    </div>
    <h1>FAQ</h1>
    <div class="modal-content-box">
      <h3>ADD CONTENT HERE</h3>
      <p>
        FAQ Content
      </p>
      <ul>
        <li>List 1</li>
        <li>List 2</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}