{% extends 'UserAuth/index.html' %}
{% load staticfiles %}

{% block page-title %}
	<title>Email | Abhisarga 2k19</title>
{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/accomodation.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/common.css' %}">
<script src="{% static 'assets/js/accomodation.js' %}"></script>
<script src="{% static 'assets/js/menu.js' %}"></script>
{% endblock %}

{% block content %}
<div id="bar">
  <img src="{% static 'assets/img/default-logo.png' %}" alt="Abhisarga 2K19" id="bar-logo">
  <div id="menu" onclick="menuopen()">
    <div></div>
    <div></div>
    <div></div>
  </div>
	{% if request.user.is_authenticated %}
	<div id="login">
		<a href="{% url 'UserAuth:logout' %}">Log Out</a>
	</div>
	<div id="register">
		<a href="javascript:function()">Profile</a>
	</div>
	{% else %}
	<div id="register">
		<a href="{% url 'UserAuth:user_registration' %}">REGISTER</a>
	</div>
	<div id="login">
		<a href="{% url 'UserAuth:user_login' %}">LOGIN</a>
	</div>
	{% endif %}
</div>
<div id="accomodation">
  <div id="accomodation-content">
    <h1>Account Verification</h1>
    <p>
    	Activation link is sent to your email. Please check your email.
    </p>
   </div>
</div>
{% endblock %}