{% extends 'UserAuth/index.html' %}
{% load staticfiles %}
{% block page-title %}
<title>Contact Us | ABHISARGA 2K19</title>
{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/usercard.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/contact.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/common.css' %}">
<script src="{% static 'assets/js/menu.js' %}"></script>
{% endblock %}
{% block content %}
<div id="bar">
  <img src="{% static 'assets/img/default-logo.png' %}" alt="Abhisarga 2K19" id="bar-logo">
  <div id="menu" onclick="menuopen()">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div id="register">
    <a href="{% url 'UserAuth:user_registration' %}">REGISTER</a>
  </div>
  <div id="login">
    <a href="{% url 'UserAuth:user_login' %}">LOGIN</a>
  </div>
</div>
<div class="contact-head">
  <h1>Contact Us</h1>
  <p>
    For queries you can reach out to
  </p>
</div>
<div class="contact-department">
  <h1>event registration team</h1>
  <div class="contact-cards">
    <div class="user-card">
      <div class="user-details">
        <h1>Jan Doe</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="user-full">
        <div class="user-image">
          <img src="{% static 'assets/img/default-female.png' %}" alt="">
        </div>
        <div class="user-hidden">
          <h1>Jan Doe</h1>
          <h2>Events Manager</h2>
          <div class="user-contact">
            <div class="user-phone"><a href="#">+91-9436874974</a></div>
            <div class="user-email"><a href="mailto:jandoe@gmail.com">jandoe@gmail.com</a></div>
            <div class="user-social">
              <a href=""><img src="{% static 'assets/img/fb.png' %}" alt=""></a>
              <a href=""><img src="{% static 'assets/img/insta.png' %}" alt=""></a>
              <a href=""><img src="{% static 'assets/img/linkedin.png' %}" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="user-card">
      <div class="user-details">
        <h1>Harry Potter</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="user-full">
        <div class="user-image">
          <img src="{% static 'assets/img/default-male.png' %}" alt="">
        </div>
        <div class="user-hidden">
          <h1>Harry Potter</h1>
          <h2>Cultural Advisor</h2>
          <div class="user-contact">
            <div class="user-phone"><a href="#">+91-9436874974</a></div>
            <div class="user-email"><a href="mailto:jandoe@gmail.com">boywholived@gmail.com</a></div>
            <div class="user-social">
              <a href=""><img src="{% static 'assets/img/fb.png' %}" alt=""></a>
              <a href=""><img src="{% static 'assets/img/insta.png' %}" alt=""></a>
              <a href=""><img src="{% static 'assets/img/linkedin.png' %}" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contact-department">
  <h1>transportation and hospitality team</h1>
  <div class="contact-cards">
    <div class="user-card">
      <div class="user-details">
        <h1>Dave Williams</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="user-full">
        <div class="user-image">
          <img src="{% static 'assets/img/default-male.png' %}" alt="">
        </div>
        <div class="user-hidden">
          <h1>Dave Williams</h1>
          <h2>Transport Manager</h2>
          <div class="user-contact">
            <div class="user-phone"><a href="#">+91-9436874974</a></div>
            <div class="user-email"><a href="mailto:jandoe@gmail.com">davewills@gmail.com</a></div>
            <div class="user-social">
              <a href=""><img src="{% static 'assets/img/fb.png' %}" alt=""></a>
              <a href=""><img src="{% static 'assets/img/insta.png' %}" alt=""></a>
              <a href=""><img src="{% static 'assets/img/linkedin.png' %}" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="user-card">
      <div class="user-details">
        <h1>Tony Stark</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="user-full">
        <div class="user-image">
          <img src="{% static 'assets/img/default-male.png' %}" alt="">
        </div>
        <div class="user-hidden">
          <h1>Tony Stark</h1>
          <h2>Logistics</h2>
          <div class="user-contact">
            <div class="user-phone"><a href="#">+91-9436874974</a></div>
            <div class="user-email"><a href="mailto:jandoe@gmail.com">ironman@gmail.com</a></div>
            <div class="user-social">
              <a href=""><img src="{% static 'assets/img/fb.png' %}" alt=""></a>
              <a href=""><img src="{% static 'assets/img/insta.png' %}" alt=""></a>
              <a href=""><img src="{% static 'assets/img/linkedin.png' %}" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contact-head">
  <p>
    or mail us at <a href="mailto:abhisarga@iiits.in">abhisarga@iiits.in</a>
  </p>
</div>
{% endblock %}