{% autoescape off %}
Hello {{ user_fullname}}
We are glad to see you here.

Please click on the link below to confirm your email and activate your account:

http://{{ domain }}{% url 'registration:activate' uidb64=uid token=token %}

This link is valid for 24 hours.

If you did not initialise this request, you can safely ignore this email.

Note: This is a system generated email. Please do not reply. Instead send a mail to techfesia@iiits.in

Sincerely,
Technical Support Team,
TechFesia2k18,
Indian Institute of Information Technology, Sri City


{% endautoescape %}