{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% block page-title %}
		
		{% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5, minimum-scale=1" />
		<meta name="description" content="Abhisarga 2k19: 29th and 31st March. Abhisarga is the annual cultural fest of the Indian Institute of Information Technology, Sri City. Growing exponentially each year, this year is going to be even more power-packed." />
		<meta name="og:type" content="Website" />
    <meta name="og:site_name" content="Abhisarga 2K19" />
    <meta name="og:image" content="abhisarga.iiits.in/logo.png" />
		<meta name="og:url" content="abhisarga.iiits.in" />
		<meta name="og:description" content="Abhisarga 2k19: 29th and 31st March. Abhisarga is the annual cultural fest of the Indian Institute of Information Technology, Sri City. Growing exponentially each year, this year is going to be even more power-packed." />
		<meta name="theme-color" content="#05010b" />
	{% block link %}
    	
	{% endblock %}
  </head>
  <body onload="initialize()">
    {% block content %}
    {% endblock %}
    <div id="footer">
			<div id="links">
				<div>
					Links
					<hr align="left" width="20%">
				</div>
				<ul>
					<li><a href="{% url 'Accomodation:accomodation' %}">Accommodation</a></li>
					<li><a href="{% url 'Other:team' %}">Team</a></li>
					<li><a href="{% url 'Other:contactus' %}">Contact Us</a></li>
				</ul>
			</div>
			<div id="title">
				<div>
					Abhisarga'19
					<hr align="left" width="40%">
				</div>
				<ul>
					<li><a href="{% url 'Event:events' %}">Events</a></li>
					<li><a href="{% url 'Other:sponsors' %}">Sponsors</a></li>
					<li><a href="{% url 'Other:schedule' %}">Schedule</a></li>
				</ul>
			</div>
			<div id="social">
				<div>
					Follow Us
					<hr align="left" width="40%">
				</div>
				<br>
				<a href="https://www.facebook.com/abhisarga/"><img src="{% static 'assets/img/fb.png' %}" alt="Facebook"></a>
				<a href="https://www.instagram.com/abhisarga/"><img src="{% static 'assets/img/insta.png' %}" alt="Instagram"></a>
				<a href="https://www.youtube.com/channel/UCf1DbeeTKGzpwRv9X7YECfg"><img src="{% static 'assets/img/youtube.png' %}" alt="Youtube"></a>
				<br>
				<a href="https://play.google.com/store/apps/details?id=com.abhisarga.mobileapp" target="_blank"><img src="{% static 'assets/img/googleplay.png' %}" alt="Google Play Store" style="width: 5em; height: 2.2em"></a>
			</div>
			<div id="copyright">Copyright 2019 - All rights reserved</div>
    </div>
    {% block popup %}
	{% endblock %}
		<div id="fullmenu">
			<div id="close" onclick="menuclose()">
				<hr id="close1">
				<hr id="close2">
			</div>
			<div id="inlogo">
				<img src="{% static 'assets/img/logo-min.png' %}" alt="Abhisarga Logo">
				<div id="icons-flex">
					<a href="https://www.facebook.com/abhisarga/"><img src="{% static 'assets/img/fb.png' %}" alt="Facebook" class="icons"></a>
					<a href="https://www.instagram.com/abhisarga/"><img src="{% static 'assets/img/insta.png' %}" alt="Instagram" class="icons"></a>
					<a href="https://www.youtube.com/channel/UCf1DbeeTKGzpwRv9X7YECfg"><img src="{% static 'assets/img/youtube.png' %}" alt="Youtube" class="icons"></a>
				</div>
			</div>
			<div id="list">
				<ul>
					<li><a href="{% url 'UserAuth:home' %}">Home</a><hr></li>
					<li><a href="{% url 'Event:events' %}">Events</a><hr></li>
					<li><a href="{% url 'Other:proshows' %}">Proshows</a><hr></li>
					<li><a href="{% url 'Accomodation:accomodation' %}">Accommodation</a><hr></li>
					<li><a href="{% url 'Other:sponsors' %}">Sponsors</a><hr></li>
					<li><a href="{% url 'Other:team' %}">Team</a><hr></li>
					<li><a href="{% url 'Other:contactus' %}">Contact Us</a><hr></li>
				</ul>
			</div>
		</div>
  </body>
</html>
