{% extends 'UserAuth/index.html' %}
{% load staticfiles %}

{% block page-title %}
	<title>Events | Abhisarga 2k19</title>
{% endblock %}

{% block link %}
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/events.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/common.css' %}">
	<script src="{% static 'assets/js/menu.js' %}"></script>
    <script src="{% static 'assets/js/events.js' %}"></script>
{% endblock %}
{% block content %}
		<div id="bar">
			<img src="{% static 'assets/img/default-logo.png' %}" alt="Abhisarga 2K19" id="bar-logo">
			<div id="menu" onclick="menuopen()">
				<div></div>
				<div></div>
				<div></div>
			</div>
			{% if request.user.is_authenticated %}
			<div id="login">
				<img src="{% static 'assets/img/svg/circdsg1.svg' %}" width="80%" height="20%" alt="">
				<a href="{% url 'UserAuth:logout' %}">Log Out</a>
				<img src="{% static 'assets/img/svg/circdsg2.svg' %}" width="80%" height="20%" alt="">
			</div>
			<div id="register">
				<img src="{% static 'assets/img/svg/circdsg1.svg' %}" width="80%" height="20%" alt="">
				<a href="javascript:function()">Profile</a>
				<img src="{% static 'assets/img/svg/circdsg2.svg' %}" width="80%" height="20%" alt="">
			</div>
			{% else %}
			<div id="register">
				<img src="{% static 'assets/img/svg/circdsg1.svg' %}" width="80%" height="20%" alt="">
				<a href="{% url 'UserAuth:user_registration' %}">REGISTER</a>
				<img src="{% static 'assets/img/svg/circdsg2.svg' %}" width="80%" height="20%" alt="">
			</div>
			<div id="login">
				<img src="{% static 'assets/img/svg/circdsg1.svg' %}" width="80%" height="20%" alt="">
				<a href="{% url 'UserAuth:user_login' %}">LOGIN</a>
				<img src="{% static 'assets/img/svg/circdsg2.svg' %}" width="80%" height="20%" alt="">
			</div>
			{% endif %}
		</div>
    <div id="select-list">
			<select id="eventselect" onchange="changecontent()">
				<option value="0">Dance & Music</option>
				<option value="1">Literary</option>
				<option value="2">Fine Arts</option>
				<option value="3">Gaming</option>
				<option value="4">Online</option>
				<option value="5">Informal</option>
			</select>
			<img src="{% static 'assets/img/arrow.png' %}" alt="">
    </div>
		<div id="event-content">
			<div class="events-internal">
				<div class="single-event">
					<h1>Inter College Dance Competition</h1>
					<div class="image">
						<img src="{% static 'assets/img/events/dance.jpg' %}" alt="">
						<div></div>
					</div>
					<div class="event-details">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<div class="s-info">
							<img src="{% static 'assets/img/svg/design.svg' %}" alt="">
							<span><img src="{% static 'assets/img/svg/calender.svg' %}" alt="">29 March, 2019</span>
							<span><img src="{% static 'assets/img/svg/rupee.svg' %}" alt="">50,000</span>
						</div>
						<div class="b-link">
							Register
						</div>
						<div class="b-link">
							Rules
						</div>
					</div>
				</div>
				<div class="single-event">
					<h1>Battle of Bands</h1>
					<div class="image">
						<img src="" alt="">
						<div></div>
					</div>
					<div class="event-details">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<div class="s-info">
							<img src="{% static 'assets/img/svg/design.svg' %}" alt="">
							<span><img src="{% static 'assets/img/svg/calender.svg' %}" alt="">30 March, 2019</span>
							<span><img src="{% static 'assets/img/svg/rupee.svg' %}" alt="">40,000</span>
						</div>
						<div class="b-link">
							Register
						</div>
						<div class="b-link">
							Rules
						</div>
					</div>
				</div>
			</div>
			<div class="events-internal">
			</div>
			<div class="events-internal">
			</div>
			<div class="events-internal">
			</div>
			<div class="events-internal">
			</div>
			<div class="events-internal">
			</div>
		</div>
    
    <div id="listnav">
      <ul>
        <li class="nav-link active-link" value="0" onclick="changeselect(this)">Dance & Music<hr></li>
        <li class="nav-link" value="1" onclick="changeselect(this)">Literary<hr></li>
        <li class="nav-link" value="2" onclick="changeselect(this)">Fine Arts<hr></li>
        <li class="nav-link" value="3" onclick="changeselect(this)">Gaming<hr></li>
        <li class="nav-link" value="4" onclick="changeselect(this)">Online<hr></li>
        <li class="nav-link" value="5" onclick="changeselect(this)">Informal<hr></li>
      </ul>
    </div>
{% endblock %}
